.card-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
}

.card-image{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card-image-fallback{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: #8DC63F;
}
